.Gradient { /*7B61FF*/
  height: 4px;
  width: 100px;
  background: rgb(99,187,70);
  background: linear-gradient(90deg, rgba(99,187,70,1) 0%, rgba(123,97,255,1) 55%, rgba(231,41,42,1) 100%);
  background-color: #63BB46;
  margin: 0 0 0 10%;
  position: relative;
  top: 0px;
}

.Info {
  display: flex;
  margin: 70px 0 0 0;
  flex-flow: wrap column;
  justify-content: space-evenly;
  height: 435px;
}

.Introduction {
  background-image: url('/backdrop_sm.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width: 100%;
  /* padding: 0 10%; */
}

.Headshot {
  border-radius: 100%;
  margin: 70px 0 55px;
  height: 128px;
  width: 128px;
}

.Text {
  color: #fff;
  font-size: 24px;
  text-align: left;
  margin: 0 auto 70px;
  width: 280px;
  height: 112px;
}

.Main {
  margin: 0 10%;
}

.Info div {
  /* margin: 80px 20px 0; */
}

/* Mobile Screen */
@media screen and (max-width: 768px) {
  /* .Info {
    margin: 60px 10% 0;
  } */
  .Info div:first-child {
    /* margin: 80px 20px 0; */
  }
}

/* Larger than mobile screen */
@media screen and (min-width: 769px) {
  .Info {
    margin: 15vh 10% 0;
  }
}