.Login {
  background-color: #fafafa;
  display: flex;
  flex-flow: nowrap column;
  width: 250px;
  height: 300px;
  margin: 5% auto;
  box-shadow: 0 3px 6px 1px rgba(129, 129, 129, 0.08);
  padding: 0 30px;
}

.Email, .Password {
  display: flex;
  flex-flow: column nowrap;
  margin: 10px 5px;
}

.Invalid {
  border: 1px #e82828 solid !important;
}

.redText {
  color: #e82828;
  display: inline;
  font-size: 12px;
  margin: 2px 0;
  text-align: left;
}

.Input {
  border: hidden;
  background-color: #efefef;
  padding: 10px;
  color: #000;
  border-radius: 0;
  font-size: 14px;
  outline: none;
}

.Form {
  margin: 30px 0;
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-between;
  height: 50%;
}