.Gradient {
  background: linear-gradient(90deg, rgba(99,187,70,1) 0%, rgba(58,47,143,1) 105%);
  background-color: rgba(58,47,143,1);
}

.ProjectsList {
  margin: auto;
}

.ProjectsList>div {
  margin: 30px auto;
}