.ArticleBackground {
  height: auto;
  background-color: #fff;
  margin: 0 auto;
  text-align: left;
  flex-grow: 1;
}

.Article {
  margin: 0 auto;
}

.Image {
  border-radius: 10px;
}

.Article img {
  border-radius: 10px;
}

.Title {
  font-size: 20px;
}

.Date {
  font-size: 14px;
  font-weight: normal;
}

.Post {
  font-size: 14px;
  white-space: pre-line;
}

/* Mobile Screen */
@media screen and (max-width: 768px) {
  .ArticleBackground {
    width: 300px;
    padding: 0 0 50px 0;
  }
  .Image {
    width: 280px;
  }
  .Article img {
    width: 280px;
  }
}

/* Larger than mobile screen */
@media screen and (min-width: 769px) {
  .ArticleBackground {
    width: 730px;
  }
  .Image {
    width: 600px;
  }
  .Article img {
    width: 600px;
  }
}