.Backdrop {
  display: flex;
  flex-flow: nowrap column;
  justify-content: left;
  padding: 30px;
  text-align: left;
}

.DisplayImage {
  height: 90px;
  text-indent: 100%;
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
}

.Title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.Date {
  font-size: 14px;
  margin: 5px 0 0 0;
}

.ActionButton {
  margin: 0 0 0 10px;
}

.Buttons {
  margin: 10px 0;
  display: flex;
  justify-content: left;
}

.RHS {
  margin: 0 0 0 20px;
}

/* Mobile Screen */
@media screen and (max-width: 768px) {
  .Backdrop {
    flex-flow: nowrap column;
    width: min(80vw,300px);
    margin: auto;
    background-color: #f3f3f3;
    box-shadow: 0 3px 6px 1px rgba(129, 129, 129, 0.08);
    overflow: hidden;
  }

  .DisplayImage { 
    margin: 0 0 15px 20px;
  }
}

/* Larger than mobile screen */
@media screen and (min-width: 768px) {
  .Backdrop {
    flex-flow: nowrap row;
    width: 670px;
    background-color: #f3f3f3;
    box-shadow: 0 3px 6px 1px rgba(129, 129, 129, 0.08);
    height: 95px;
  }

  .Description {
    width: 380px;
  }
}