/* p, h1 {
  color: #3f3f3f;
} */

.Backdrop {
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-between;
  padding: 30px;
  text-align: left;
  overflow: hidden;
}

.DisplayImage {
  height: 180px;
}

.Title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.Date {
  font-size: 14px;
  margin: 10px 0 0 0;
}

.Description {
  font-size: 12px;
  margin: 10px 0 20px;
  min-height: 70px;
}

.RHS {
  margin: 0 10px 0;
}

.RHS {
  margin: 0 0 0 20px;
}

.LinkButton {
  display: flex;
  justify-content: center;
}

/* Mobile Screen */
@media screen and (max-width: 768px) {
  .Backdrop {
    flex-flow: nowrap column;
    width: min(80vw,300px);
    margin: auto;
    background-color: #f3f3f3;
    box-shadow: 0 3px 6px 1px rgba(129, 129, 129, 0.08);
    overflow: hidden;
  }

  .DisplayImage { 
    margin: 0 0 15px 20px;
  }
}

/* Larger than mobile screen */
@media screen and (min-width: 768px) {
  .Backdrop {
    flex-flow: nowrap row;
    width: 670px;
    background-color: #f3f3f3;
    box-shadow: 0 3px 6px 1px rgba(129, 129, 129, 0.08);
  }

  .Description {
    width: 360px;
  }
}