a {
  text-decoration: none;
  color: #3f3f3f;
}

.Button {
  border: 1px #3f3f3f solid;
  border-radius: 10px;
  height: 30px;
  display: inline-block;
  padding: 0 15px;
}

.Button:hover {
  background-color: #3f3f3f;
  color: #f3f3f3;
}

.Button:hover .ButtonText {
  background-color: #3f3f3f;
  color: #f3f3f3;
}

.ButtonText {
  font-size: 14px;
  font-weight: bold;
  margin: 7px 0 0 0;
}