/* Larger than mobile screen */
@media screen and (min-width: 768px) {
  .Footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 20px 10px 0;
  }

  .Footer img {
    height: 35px;
    opacity: 0.7;
    cursor: pointer;
  }

  .Footer img:hover {
    opacity: 1;
  }

  .Footer p {
    font-size: 12px;
    margin: 0;
    color: #C0C0C0;
  }
}

/* Mobile Screen */
@media screen and (max-width: 768px) {
  .Footer {
    margin: 20px 0;
  }

  .Footer img {
    height: 35px;
  }

  .Footer p {
    font-size: 12px;
    margin: 0;
    color: #C0C0C0;
  }
}